<%- include('header') %>

        <form action = "/updateEmployees" method = "post">
            <div class = "form-group">
                <label for = "tip_ust"> Type of institution: </label>
                <input type = "text" class = "form-control" id = "tip_ust" placeholder = "Choose type of institution" value = "<%= employees.TIP_UST %>"" name = "tip_ust" required>
            </div>
            <div class = "form-group">
                <label for = "vu_identifikator"> Higher education institution ID: </label>
                <input type = "text" class = "form-control" id = "vu_identifikator" placeholder = "Enter the identifier of the higher institution" value = "<%= employees.VU_IDENTIFIKATOR %>" name = "vu_identifikator" requried>
            </div>
            <div>
                <label for = "employee_id_number"> Employee ID: </label>
                <input type = "text" class = "form-control" id = "zap_redni_broj" placeholder = "Enter the identification number of the employee" value = "<%= employees.ZAP_REDNI_BROJ %>" name = "zap_redni_broj" required>
            </div>
            <div class = form-group>
                <label for = "employee_name"> Name: </label>
                <input type = "text" class = "form-control" id = "zap_ime" placeholder = "Enter the name of the employee" value = "<%= employees.ZAP_IME %>" name = "zap_ime" required>
            </div>
            <div class = "form-group">
                <label for = "employee_initials"> Initials: </label>
                <input type = "text" class = "form-control" id = "zap_srednje_slovo" placeholder= "Enter the initials of the employee" value = "<%= employees.ZAP_SREDNJE_SLOVO %>" name = "zap_srednje_slovo" required>
            </div>
            <div class = "form-group">
                <label for = "employee_surname"> Surname: </label>
                <input type = "text" class = "form-control" id = "zap_prezime" placeholder = "Enter the surname of the employee" value = "<%= employees.ZAP_PREZIME %>" name = "zap_prezime" required>
            </div>
            <button type = "submit" class = "btn btn-primary"> Submit </button> 
        </form>

<%- include('footer') %>