<html>
<head>
    <!-- PROFESOROV CSS ZA TABELU-->
    <!-- <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes"> -->

    <!-- Externa CSS stylesheet-->
    <!-- <link href="../assets/style.css"/> -->
    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Crud App!</title> -->

    <!-- CUSTOM CSS ZA TABELU -->
    <meta charset="utf-8">
    <meta name = "viewport" content = "width-device-width, initial-scale = 1">
    <link rel = "stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/poper.min.js"></script>
    <script src = "https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <%- include('header') %>
</head>

<body>
    
<div class = "container">
    <h2> <%= title %> </h2>
    <a href = "/addEmployee" class = "btn btn-sm btn-primary"> Add Employee </a><br/><br/>
    <table class = "table table-dark table-striped">
        <thead>
            <tr>
                <th> TIP_UST </th>
                <th> VU_IDENTIFIKATOR </th> 
                <th> ZAP_REDNI_BROJ </th>
                <th> ZAP_PREZIME </th>
                <th> ZAP_SREDNJE_SLOVO </th>
                <th> ZAP_IME </th>
                <!-- <th> ZAP_FOTOGRAFIJA </th>
                <th> ZAP_JMBG </th>
                <th> RCP_REDNI_BROJ </th> -->
            </tr>
        </thead>
        <tbody> 
            <% employees.forEach(function(employees) { %>
                <tr>
                    <td> <%= employees.TIP_UST %> </td>
                    <td> <%= employees.VU_IDENTIFIKATOR %> </td>
                    <td> <%= employees.ZAP_REDNI_BROJ %> </td>
                    <td> <%= employees.ZAP_PREZIME %> </td>
                    <td> <%= employees.ZAP_SREDNJE_SLOVO %> </td>
                    <td> <%= employees.ZAP_IME %> </td>
                    <!-- <td> <%= employees.ZAP_FOTOGRAFIJA %> </td>
                    <td> <%= employees.ZAP_JMBG %> </td>
                    <td> <%= employees.RCP_REDNI_BROJ %> </td> -->
                    <td> 
                        <a href = "edit/<%= employees.ZAP_REDNI_BROJ %>" class = "btn btn-sm btn-primary"> Edit </a>
                        <a href = "delete/<%= employees.ZAP_REDNI_BROJ %>" class = "btn btn-sm btn-danger"> Delete </a>
                    </td> 
                </tr>
            <% }); %>
        </tbody>
    </table>
</div>
</body>
</html>